body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #333333;
    background: #DEDEDE;
}
h3
{
    font-size: 13px;
    margin: 0;
}
header,
footer,
nav,
section {
    display: block;
}

#playlists
{
    width: 300px;
}
#player
{
    float: left;
}
#playlists span
{
    cursor: pointer;
}
#playlists div:hover
{
    background: #FFFFFF;
}
#videos
{
    
}
#videos a
{
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
#videos .video
{
    display: inline-block;
    width: 170px;
    height: 250px;
    padding: 10px;
    vertical-align: top;
    overflow: hidden;
	border-radius: 5px;
}
#videos .video p
{
    margin: 0;
}
#videos .video span
{
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
}
#videos .video:hover
{
    box-shadow: -5px 5px 10px #555555;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    right: 1px;
}
#videos img
{
    cursor: pointer;
}
.video_time
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 11px !important;
    background: #000000;
    padding: 0 2px;
    border-radius: 3px;
    display: inline-block;
	color: #DEDEDE;
}
.yt_title
{
    height: 35px;
    overflow: hidden;
}
.yt_desc
{
    height: 50px;
}
.rating
{

}
.rating span
{
	height: 5px;
}
.likes, .dislikes
{
	margin: 0;
	padding: 0;
}
.likes
{
    border-radius: 5px 0 0 5px;
	background: #007700;
	float: left;
	border-right: 1px solid white;
}
.dislikes
{
    border-radius: 0 5px 5px 0;
	background: #CC0000;
	float: right;
	border-left: 1px solid white;
}

#pager span
{
    display: inline-block;
    width: 25px;   
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
}

#pager span.active
{
    border: 1px solid #000000;
    background: #FFFFFF;
    cursor: default !important;
    border-radius: 2px;  
}

#pager .button
{
    width: 60px;
    background: #CCCCCC;
    border: 1px solid #0c0c0c;
    border-radius: 2px;   
}

.video-img
{
    position: relative;
}