body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #333333;
    background: #DEDEDE;
}
h3
{
    font-size: 13px;
    margin: 0;
}
header,
footer,
nav,
section {
    display: block;
}

/* Styles for page content
-----------------------------------------------------------*/
#pagewrapper
{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    position: relative;
}
#content
{
    display: inline-block;
}
#right
{
    display: inline-block;
    position: absolute;
    width: 200px;
}

/* Styles for blur menu
-----------------------------------------------------------*/
header
{
    text-align: center;
}
.bmenu
{
    padding: 0;
    margin: 0 0 10px 0;
    
}
.benu:first-child
{
    
}
.bmenu a
{
    font-size: 50px;
    margin-right: 25px;
}
.bmenu span
{
    font-size: 25px;
}
.bmenu a
{
    text-shadow: 0 0 3px #333333;
}
.bmenu span
{
    display: block;
    text-shadow: 0 0 2px #333333;
}
.bmenu a, .bmenu span
{
    text-decoration: none;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.bmenu:hover a, .bmenu:hover span{
    text-shadow: 0px 0px 5px #333333;
}
.bmenu a:hover, .bmenu span:hover{
    color: #333333;
    text-shadow: 0px 0px 3px #333333;
    padding-left: 10px;
}
.bmenu a:hover
{
    padding-left: 10px;
}
.bmenu span:hover
{
    padding-left: 5px;
}
.bmenu li
{
    list-style-type: none;
}

/* Styles for youtube
-----------------------------------------------------------*/
#left_content, #right_content
{
    display: inline-block;
}
#right_content
{
    width: 775px;
    position: absolute;
    margin-left: 10px;
}
#playlist
{
    width: 300px;
}
#player
{
    float: left;
}
#playlist span
{
    cursor: pointer;
}
#playlist div:hover
{
    background: #FFFFFF;
}
#videos
{
    display: inline-block;
}
#videos a
{
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
#videos div
{
    display: inline-block;
    width: 170px;
    height: 225px;
    padding: 10px;
    vertical-align: top;
    margin-bottom: 10px;
    overflow: hidden;
	border-radius: 5px;
}
#videos div p
{
    margin: 0;
}
#videos div span
{
    font-size: 10px;
    line-height: 12px;
    margin-top: 5px;
    display: block;
    overflow: hidden;
}
#videos div:hover
{
    box-shadow: -5px 5px 10px #555555;
    background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    right: 1px;
}
#videos img
{
    cursor: pointer;
}
.video_time
{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 11px !important;
    background: #000000;
    padding: 0 2px;
    border-radius: 3px;
    display: inline-block;
	color: #DEDEDE;
}
.yt_title
{
    height: 35px;
    overflow: hidden;
}
.yt_desc
{
    height: 50px;
}